#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 2px;
}

#display {
    border: 1px solid black;
    width: 113px;
    text-align: center;
    background: lightgreen;
}

.third #zero {
    display: flex;
}

#operators {
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    background-color: darkgray;
    width: 25px;
    padding: 2px;
}
.operator {
    background-color: silver;
}
#body {
    display: flex;
}

#clear {
    background-color: red;
}