#calculator {
    display: flex;
    flex-direction: column;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    width: 75px;
    height: 85px;
    border: 1px solid black;
}

.number {
    box-sizing: border-box;
}

#zero {
    align-self: flex-end;
}
